body
{
    background-color: #272822;
    background-image: url(images/fond_ecran.jpg);
    
}

*
{
    color: white;
    font-size: 28px;
    text-align: center;
    text-shadow: 6px 6px 5px #133f36;
}

h1:hover
{
    color: darkcyan;
}

h2
{
    color:cornflowerblue;
    border: 5px #47484b groove;
    border-radius: 10px;
    box-shadow: 6px 6px 5px black;
}

h2:hover
{
    color: chartreuse;
}